[hosts]
dhcp37-102.lab.eng.blr.redhat.com
dhcp37-103.lab.eng.blr.redhat.com

[nfs-ganesha]
action=refresh-config
# This is a regular expression, lines containing clients will be removed to
# delete more than one line separate the values by |
del-config-lines=clients
block-name=client
config-block=clients = 10.0.0.1;|allow_root_access = true;|access_type = "RO";|Protocols = "3";|anonymous_uid = 1440;|anonymous_gid = 72;
volname=ganesha
