[hosts]
10.70.46.13
10.70.46.15
10.70.46.17
10.70.46.19
#------------------------------

# Generic section [devices] is applicable to all the hosts listed in the [hosts]
# section. However, if sections of hosts [hostname] or [ip-address] is present,
# then the data in generic sections like [devices] are ignored. Host specific
# data take precedence.

# [devices]
# /dev/sda
# /dev/vdb
# /dev/vda
#------------------------------

# Section [disktype] specifies which disk configuration is used while
# setting up the backend. Supports RAID 10, RAID 6 and JBOD configurations.
# If this field is left empty, it will be by default taken as JBOD.
# This is common for all the hosts.

# [disktype]
# raid6
#------------------------------

# Section [diskcount] specifies the number of data disks in the setup. This is a
# mandatory field if the disk configuration specified is either RAID 10 or
# RAID 6 and will be ignored if architecture is JBOD. This is host specific
# data.

# [diskcount]
# 10
#------------------------------

# Section [stripesize] specifies the stripe_unit size in KB. This is a mandatory
# field if disk configuration is RAID 6. If this is not specified in case of
# RAID 10 configurations, it will take the default value 256K. This field is
# not necessary for JBOD configuration of disks. Do not add any suffixes like
# K, KB, M, etc.This is host specific data.

# [stripesize]
# 128
#------------------------------

# vg names for the above devices
# The number of vgs in the [vgs] should match the devices

# [vgs]
# CUSTOM_vg
#------------------------------

# pool names for the above volume groups
# The number of pools listed in the [pools] section should match the number of
# vgs.

# [pools]
# CUSTOM_pool
#------------------------------

# lv names for the above volume groups
# The number of logical volumes listed in the [lvs] section should match the
# number of vgs.

# [lvs]
# CUSTOM_lv
#-------------------------------

# Brick mountpoints for the logical volumes
# The number of mountpoints should match the number of logical volumes listed
# above.
# IMP: If only gluster deployment is to be done and not back-end setup, just
# give this data about the hosts specified in the [hosts] section along
# with the client data.

# [mountpoints]
# /rhs/brick
#-------------------------------

# Host specific data are to be given as follows

[10.70.46.13]
devices=/dev/sdb,/dev/vdb,/dev/vda

[10.70.46.15]
devices=/dev/vdc,/dev/vdb

[10.70.46.17]
devices=/dev/vdc,/dev/vdb

[10.70.46.19]
devices=/dev/vdb
#----------------------------------


# IMP: If only back-end setup is to be done but not GlusterFs
# deployment omit the following section

# Specifies the client hosts and client_mount_points to mount the gluster
# volume created. Cliend hosts field is mandatory. If mount points
# are not specified, default will be taken as /mnt/gluster
# for all the hosts
# The option fstype specifies how gluster volume is to be mounted.
# Default is glusterfs(FUSE mount). The volume can also be mounted as NFS.
# Each client can have different types of volume mount. Just specify it comma
# seperated.

[clients]
hosts=10.70.46.13
fstype=glusterfs
client_mount_points=/mnt/client1
#-----------------------------------

# The section volume specifies the configuration options for the volume.

# 'action' option specifies what action id to be performed in the volume.
# The choices can be create or delete. If delete is provided all the options
#  other than 'volname' will be ignored.
#
# 'volname' option specifies the volume name. Default is glustervol
#  If the user wishes to do just a volume operation, she can omit the
#  'hosts' section if the volname is provided in the format
#  <hostname>:<volname>, where hostname is the hostname or IP of one of
#  the nodes in the cluster
#  IMP: Only single volume creation/deletion/configuration is supported
#  as of now.

# 'transport' option specifies the transport type. Default is tcp. Options are
# tcp or rdma or tcp,rdma

# 'replica' option will specify if the volume should be of type replica or not.
# options are yes and no. Default is no.
# If 'replica' is given as yes, 'replica_count' should be given.
# Option 'arbiter_count' is optional.

# 'disperse' option will specify if the volume should be of type disperse.
# options are yes and no. Default is no.
# 'disperse_count' is optional even if the 'disperse' is yes. if not specified,
# the number of bricks specified in the command line is taken as the
# disperse_count value.
# If 'redundancy_count' is not specified, and if 'disperse' is yes,  it's
# default value is computed so that it generates an optimal configuration.


# 'snapshot' option can be used if the user wants to create a snapshot for the
# volume specified in the 'volname' option. The name of the snapshot can be
# specified as the value to the snapshot option. More customizations will
# follow soon!

[volume]
action=create
volname=glustervol
transport=tcp,rdma
# replica=yes
# replica_count=2
# arbiter_count=2
disperse=yes
disperse_count=0
redundancy_count=2
snapshot=snapshot1
#---------------------------------




