---
- hosts: gluster_servers
  become: true
  gather_facts: no

  tasks:
  - name: Create logical volume named metadata
    lv: action=create lvname=metadata compute=metadata_compute lvtype='thick'
        snapshot_reserve="{{ snapshot_reserve }}"
        vgname={{ item }}
    with_items: "{{ vgs }}"
    ignore_errors: yes

  - name: create data LV that has a size which is a multiple of stripe width
    lv: action=create lvname={{ item.pool }} lvtype='thick'
        compute=poolsize_compute vgname={{ item.vg }}
        snapshot_reserve="{{ snapshot_reserve }}"
    with_items: "{{ lvpools }}"
    ignore_errors: yes

  - name: Convert the logical volume
    lv: action=convert thinpool={{ item.vg }}/{{item.pool }}
        poolmetadata={{ item.vg }}/'metadata' poolmetadataspare=n
        vgname={{ item.vg }} disktype="{{disktype}}"
        diskcount="{{ diskcount }}"
        stripesize="{{stripesize}}"
        chunksize="{{ chunksize | default('') }}"
        snapshot_reserve="{{ snapshot_reserve }}"
    with_items: "{{ lvpools }}"
    ignore_errors: yes

  - name: create stripe-aligned thin volume
    lv: action=create poolname={{ item.pool }} lvtype="thinlv"
        compute=rhs disktype="{{ disktype }}"
        vgname={{ item.vg }} lvname={{ item.lv }}
        chunksize="{{ chunksize | default('') }}"
        snapshot_reserve="{{ snapshot_reserve }}"
    with_items: "{{ lvpools }}"
    ignore_errors: yes

  - name: Change the attributes of the logical volume
    lv: action=change zero=n vgname={{ item.vg }} lvname={{ item.pool }}
    with_items: "{{ lvpools }}"
    register: res
    failed_when: res.rc != 0 and 'zero new blocks' not in res.msg

