---
- hosts: gluster_servers
  remote_user: root
  gather_facts: no

  tasks:
  - name: Setup SSD for caching | Create the physical volume
    pv: action=create disks={{ item }}
        options="--dataalignment {{ dalign }}k"
    with_items: ssd
    register: result
    failed_when: "result.rc != 0 and 'Physical Volume Exists' not in result.msg"
    ignore_errors: yes

  - name: Setup SSD for caching | Extend the Volume Group
    vg: action=extend disks={{ item }}
        vgname="{{ vgname }}"
    with_items: ssd
    register: result
    failed_when: "result.rc != 0 and ('is already in volume group' not in result.msg  and 'not found' not in result.msg)"
    ignore_errors: yes

  - name: Setup SSD for caching | Change the attributes of the logical volume
    lv: action=change zero=n vgname="{{ vgname }}" lvname="{{ lvname }}"
    ignore_errors: yes

  - name: Setup SSD for caching | Create cache meta logical volume
    lv: action=create lvname="{{ cache_meta_lv }}" lvtype=thick
        size="{{ cache_meta_lvsize }}" vgname="{{ vgname }}" pvname="{{ ssd }}"
    ignore_errors: yes

  - name: Setup SSD for caching | Create cache logical volume
    lv: action=create lvname="{{ cache_lv }}" lvtype=thick
        size="{{ cache_lvsize }}" vgname="{{ vgname }}" pvname="{{ ssd }}"
    ignore_errors: yes

  - name: Setup SSD for caching | Convert an existing logical volume to a cache pool LV
    lv: action=convert lvtype=cache-pool
        poolmetadata="{{ cache_meta_lv }}" poolmetadataspare=n
        vgname="{{ vgname }}" lvname="{{ cache_lv }}" force="{{ force }}"
    ignore_errors: yes

  - name: Setup SSD for caching | Convert an existing logical volume to a cache LV
    lv: action=convert lvtype=cache cachepool="{{ cache_lv }}"
        vgname="{{ vgname }}" lvname="{{ poolname }}" force="{{ force }}"
    ignore_errors: yes
