---
- hosts: master
  remote_user: root
  gather_facts: no

  tasks:
  - name: Gluster volume quota remove operation
    quota:  action="{{ action }}"
            volume="{{ volname }}"
            path={{ item }}
    with_items: path
