---
- hosts: master
  remote_user: root
  gather_facts: no

  tasks:
  - name: Remove bricks from an existing volume
    volume:  action=remove-brick
             volume="{{ volname }}"
             bricks="{{ old_bricks }}"
             replica_count="{{ replica_count }}"
             state="{{ state }}"
