---
- hosts: gluster_servers
  become: true
  gather_facts: no

  tasks:
  - name: Create the backend disks, skips if present
    file: path={{ item.path }} state=directory
    with_items: "{{ mntpath }}"

  - name: Mount the volumes
    mount: name={{ item.path }} src={{ item.device }} fstype=xfs
           opts="inode64,noatime,nodiratime" state=mounted
    with_items: "{{ mntpath }}"

  - name: In case of VDO update dynamic config - max_retries
    shell: >
        echo '4' > "/sys/fs/xfs/`basename $(realpath {{ item.device }})`/\
                     error/metadata/ENOSPC/max_retries";
        echo '4' > "/sys/fs/xfs/`basename $(realpath {{ item.device }})`/\
                     error/metadata/EIO/max_retries";
    with_items: "{{ mntpath }}"
    when: vdo_device is defined and vdo_device|bool == true
