---
- hosts: gluster_servers
  remote_user: root
  gather_facts: no

  tasks:
  # Create pv on all the disks
  - name: Create Physical Volume
    pv: action=create disks={{ item }}
        options="--dataalignment {{ dalign }}k"
    with_items: bricks
    register: result
    failed_when: "result.rc != 0 and 'Physical Volume Exists' not in result.msg"
